@font-face {
    font-family: OpenSans-ExtraBold;
    src: url('/fonts/OpenSans-ExtraBold.ttf') format('truetype');
}

@font-face {
    font-family: RobotoCondensed-Bold;
    src: url('/fonts/RobotoCondensed-Bold.ttf') format('truetype');
}

@font-face {
    font-family: RobotoCondensed-Italic;
    src: url('/fonts/RobotoCondensed-Italic.ttf') format('truetype');
}

@font-face {
    font-family: RobotoCondensed-Regular;
    src: url('/fonts/RobotoCondensed-Regular.ttf') format('truetype');
}

@font-face {
    font-family: PT_Sans-Bold;
    src: url('/fonts/PT_Sans-Bold.ttf') format('truetype');
}